
!.vscode/extensions.json
# Editor directories and files
# Logs
# Playwright
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env*.local
.env.local
.idea
.next/
.vercel
.vscode/*
/blob-report/
/playwright-report/
/playwright/.auth/
/playwright/.cache/
/test-results/
dist
dist-ssr
dist/
lerna-debug.log*
logs
node_modules
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.production
